.mermaid {
    max-width: 100%;
    cursor: grab;
}
button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333;
}

button:hover {
    background-color: #e0e0e0;
}
