site_name: hydrolib-core documentation
theme:
  name: material
  language: en
  logo: images/HYDROLIB_logo_notext_mono_eroded.svg
  custom_dir: docs/overrides
  palette:
    - scheme: deltares
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
plugins:
  - search
  - autorefs
  - mkdocs-jupyter
  - macros:
      module_name: docs/include/mkdocs-macros/main
  - table-reader
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_root_toc_entry: false
            show_source: true
            show_signature_annotations: true
            heading_level: 3
            show_category_heading: false
            group_by_category: false
          selection:
            inherited_members: false

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
repo_url: https://github.com/Deltares/hydrolib-core
repo_name: deltares/hydrolib-core
edit_uri: edit/main/docs/
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Deltares/hydrolib-core
      name: Source code
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/Deltares/hydrolib
      name: Chat with us on Gitter
copyright: Copyright &copy; 2022 Deltares
extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - How-to:
      - Installation:
          - Pip install: guides/setup.md
          - Developer container: guides/devcontainers.md
          - Poetry: guides/poetry.md
      - Contributing: guides/contributing.md
      - Developer Guide: guides/developers-guide.md
      - Documentation: guides/documentation.md
      - Support: guides/getting-help.md
  - Tutorials:
      - tutorials/tutorials.md
      - tutorials/build_basic_model.ipynb
      - tutorials/loading_and_saving_a_model.md
      - tutorials/dataframe_handling.md
      - tutorials/plotting_a_network.md
      - tutorials/tutorial_1d2d_fluvial_flood_model_for_magdalena.ipynb
      - tutorials/tutorial_1d2d_fluvial_flood_model_for_magdalena_with_answers.ipynb
      - DSD (2023):
          - tutorials/dsd_2023/instructions.md
          - tutorials/dsd_2023/demo/demo.ipynb
          - tutorials/dsd_2023/magdalena_workflow/magdalena_workflow.ipynb
      - DSD (2022):
          - tutorials/dsd_2022_demo/demo_dsd.ipynb
      - External Forcing Conversion:
          - tutorials/extforce-convert/external_forcing_conversion.md
  - Topics:
      - topics/dhydro_support.md
      - topics/principles.md
      - topics/pydantic.md
      - topics/loadsave.md
  - API Reference:
      - Introduction:
          - reference/glossary.md
          - reference/ini.md
          - base:
              - reference/base/base.md
              - reference/base/api.md
              - reference/base/model-tree-traverser.md
      - D-Flow FM:
          - Models:
              - MDU:
                - reference/models/mdu.md
                - reference/models/onedfield.md
              - External Forcing:
                - reference/models/extold.md
                - reference/models/ext.md
                - reference/models/forcing.md
                - reference/models/inifield.md
                - reference/models/structure.md
              - Attribute Files:
                - reference/models/polyfile.md
                - reference/models/tim.md
                - reference/models/xyz.md
              - Cross-Sections:
                - reference/models/friction.md
                - reference/models/crosssection.md
              - Topology and Network:
                - reference/models/net.md
                - reference/models/storagenode.md
                - reference/models/observationpoint.md
                - reference/models/observationcrosssection.md

          - DIMR:
              - reference/models/dimr.md
      - RainfallRunoff:
          - reference/rr/rr.md
          - reference/rr/meteo.md
      - GUI:
          - reference/gui.md
  - Release notes: "changelog.md"
