site_name: hydrolib-core documentation
theme:
  name: material
  language: en
  logo: images/HYDROLIB_logo_notext_mono_eroded.svg
  custom_dir: docs/overrides
  palette:
    - scheme: deltares
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
plugins:
  - search
  - autorefs
  - table-reader
  - macros:
      module_name: docs/include/mkdocs-macros/main
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_root_toc_entry: false
            show_source: true
            show_signature_annotations: true
            heading_level: 3
            show_category_heading: false
            group_by_category: false
          selection:
            inherited_members: false

      custom_templates: templates
      watch:
        - hydrolib/core
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
repo_url: https://github.com/Deltares/hydrolib-core
repo_name: deltares/hydrolib-core
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Deltares/hydrolib-core
      name: Source code
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/Deltares/hydrolib
      name: Chat with us on Gitter
copyright: Copyright &copy; 2021 Deltares
extra_css:
  - stylesheets/extra.css

nav:
  - Home: "index.md"
  - How-to:
      - Installation:
          - "pip install": "guides/setup.md"
          - "Developer container": "guides/devcontainers.md"
          - "Local clone + Poetry": "guides/poetry.md"
      - Contributing:
          - "guides/contributing.md"
      - Documentation:
          - "guides/documentation.md"
      - Support:
          - guides/gettinghelp.md
  - Tutorials:
      - tutorials/steps.md
      - tutorials/loading_and_saving_a_model.md
      - tutorials/dataframe_handling.md
      - tutorials/plotting_a_network.md
  - Topics:
      - topics/dhydro_support.md
      - topics/principles.md
      - topics/pydantic.md
      - topics/loadsave.md
  - API Reference:
      - Introduction:
          - reference/glossary.md
          - reference/api.md
          - reference/ini.md
      - DIMR:
          - reference/dimr.md
      - D-Flow FM:
          - reference/mdu.md
          - reference/net.md
          - reference/ext.md
          - reference/forcing.md
          - reference/structure.md
          - reference/friction.md
          - reference/crosssection.md
          - reference/storagenode.md
          - reference/inifield.md
          - reference/onedfield.md
          - reference/polyfile.md
          - reference/xyz.md
      - RainfallRunoff:
          - reference/rr/rr.md
          - reference/rr/meteo.md
  - Changelog: "changelog.md"
