[tool.poetry]
name = "hydrolib-core"
version = "0.2.0"
description = "Python wrappers around D-HYDRO Suite."
authors = ["Deltares"]
license = "MIT"
packages = [
    { include = "hydrolib"},
]
[tool.poetry.dependencies]
python = "^3.8"
netCDF4 = "1.5.7"
numpy = "^1.21"
pydantic = {extras = ["dotenv"], version = "^1.8"}
lxml = "^4.6"
meshkernel = "^1.0.0"
mkdocs-macros-plugin = "^0.6.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
black = { version = "*", allow-prereleases = true }
isort = "^5.8"
mkdocs = "^1.2"
mkdocs-material = "^8.0"
mkdocstrings = "^0.16"
mkdocs-autorefs = "^0.3"
pytest-cov = "^2.11"
pymdown-extensions = "^9.1"
commitizen = "^2.17"
flake8 = "^3.9.2"
mypy = "^0.910"
devtools = "^0.6.1"
matplotlib = "^3.4"
mkdocs-table-reader-plugin = "^0.6.1"
openpyxl = "^3.0.9"
mike = "^1.1.2"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.2.0"
tag_format = "$version"
version_files = [
    "hydrolib/core/__init__.py",
    "pyproject.toml:version"
]
changelog_file = "docs/changelog.md"

[tool.black]
line-length = 88
target-version = ['py38', 'py39']
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | \.virtualenvs
  )/
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88

[tool.pytest.ini_options]
addopts = "-m \"not plots and not docker\""
markers = [
    "plots",
    "docker"
]
[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

