[tool.poetry]
name = "hydrolib-core"
version = "0.1.0"
description = "Python wrappers around D-HYDRO Suite."
authors = ["Deltares"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.21.0"
pydantic = {extras = ["dotenv"], version = "^1.8.2"}
lxml = "^4.6.3"
meshkernel = "^1.0.0"
netCDF4 = "^1.5.7"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
black = { version = "*", allow-prereleases = true }
isort = "^5.8"
mkdocs = "^1.1"
mkdocs-material = "^7.1"
mkdocstrings = "^0.15"
mkdocs-autorefs = "^0.1"
pytest-cov = "^2.11"
pymdown-extensions = "^8.1"
commitizen = "^2.17"
flake8 = "^3.9.2"
mypy = "^0.910"
devtools = "^0.6.1"
matplotlib = "^3.4.2"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.0.1"
tag_format = "$version"
version_files = [
    "hydrolib/core/__init__.py",
    "pyproject.toml:version"
]
changelog_file = "docs/changelog.md"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py38', 'py39']
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | \.virtualenvs
  )/
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88

[tool.pytest.ini_options]
addopts = "-m \"not plots\""
markers = [
    "plots"
]
