[tool.poetry]
name = "hydrolib-core"
version = "0.1.0"
description = "Python wrappers around D-HYDRO Suite."
authors = ["Deltares"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7.1"
lark = "^0.11.3"
pydantic = "^1.8.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.3"
black = "^20.8b1"
isort = "^5.8.0"
mkdocs = "^1.1.2"
mkdocs-material = "^7.1.2"
mkdocstrings = "^0.15.0"
mkdocs-autorefs = "^0.1.1"
pytest-cov = "^2.11.1"
pymdown-extensions = "^8.1.1"
commitizen = "^2.17.3"
mypy = "^0.910"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.0.1"
tag_format = "$version"
version_files = [
    "hydrolib/core/__init__.py",
    "pyproject.toml:version"
]
changelog_file = "docs/changelog.md"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py37', 'py38']
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | \.virtualenvs
  )/
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88
